<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JayCuthrell.com - {{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
    <script src="{{ site.url }}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="author" content="Jay Cuthrell">

    <meta property="og:url" content="http://jaycuthrell.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }} by Jay Cuthrell" />
    <meta property="og:description" content="JayCuthrell.com is the blog of Jay Cuthrell" />
    <meta property="og:image" content="http://farm3.staticflickr.com/2841/11989482615_8c2237ed1d_n_d.jpg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@JayCuthrell" />
    <meta name="twitter:creator" content="@JayCuthrell" />
    <meta name="twitter:title" content="{{ page.title }} by Jay Cuthrell" />
    <meta name="twitter:description" content="This is a post entitled {{ page.title}} by Jay Cuthrell written {{ page.date }}" />
    <meta name="twitter:image:src" content="http://farm3.staticflickr.com/2841/11989482615_8c2237ed1d_n_d.jpg" />
    <meta name="twitter:domain" content="http://jaycuthrell.com" />

    <link href="{{ site.url }}/favicon.png" type="image/png" rel="icon">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      <div class="headerbackgroundfromtwitter">
      <img alt="" src="/images/600x200.png" style="transform: none;">
      </div>
      </header>
      <section>
        <hr>
          <a href="http://jaycuthrell.com">About</a> | 
          <a href="http://jaycuthrell.com/blog">Blog</a> |
          <a href="http://jaycuthrell.com/media">Media</a> |
          <a target=_blank rel="me" href="https://github.com/JayCuthrell">GitHub</a> |
          <a target=_blank rel="me" href="https://twitter.com/JayCuthrell">Twitter</a> 
        <hr>
<h1><a href="">{{ page.title }}</a></h1>
<p>{% if page.date != null %} Last Updated: {{ page.date  | date: "%B %-d %Y" }} {% endif %}</p>
{{ content }}

      </section>
    </div>
    <footer>
      <p><a title="Disclosure – yes, the boring page" href="/disclosure/">#include &lt;disclaimer.h&gt;</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-305670-10");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
